footer {
    display: flex;
    items-align: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin-right: 45%;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

nav > ul > li:not(:first-child) {
    margin-top: 0rem;
}

nav > ul > li > a {
    text-decoration: none;
    color: #333;
}

nav > ul > li > a:hover {
    text-decoration: underline;
}
