* { margin: 0; padding: 0; outline: 0 }

body {
    background: url(bg.jpg) repeat;
    font: 14px/190% Helvetica, Geneva, Verdana, Sans-serif;
    color: #FFE5C5;
    text-align: center;
}

a, a:visited {
    color: #74D1FF;
    background: inherit;
    text-decoration: none;
}
a:hover {
    color: #2E86B2;
    background: inherit;
    text0decoration: underline;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
    font-weight: Bold;
    padding: 10px;
    color: #B2A08A;
}
h1 {
    font-size: 2.9em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.6em;
    font-weight: normal;
}

p { padding: 12px 10px; }

ul, ol {
    margin: 10px 20px;
    padding: 0 20px;
}

img {
    background: #FFFFFF;
    border: #545454;
    padding: 8px;
}

#wrap {
    position: relative; 
    width: 950px;
    background-color: rgba(37,108,143,0.6);
    margin: 40px auto 30px auto;
    text-align: left;
}
#content {
    clear: both;
    float: left;
    width: 950px;
    padding: 25px 0 60px 0;
}
#header { 
    position: relative;
    float: left;
    width: 235px;
    height: 55px;
    background-color: rgba(99,75,45,0.8);
    padding: 0;
    margin: 0;
}
#slogan {
    position: relative;
    float: ;
    width: 800px;
    height: 55px;
    font: 18px Helvetica, Geneva, Verdana, Sans-serif;
    /*color: #2E86B2;*/
    padding: 0 0 15px;
    margin: 0;
}
#nav {
    clear: both;
    padding: 0;
    margin: 0;
    width: 952px;
    height: 50px;
    background-color: rgba(68,68,68,0.6);
}
#nav ul {
    float: left;
    list-style: none;
    margin: 5px 0 0 0;
    height: 45px;
    padding: 0 0 0 40px;
}
#nav ul li {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
}
#nav ul li a {
    float: left;
    margin: 0;
    padding: 0 15px 0 5px;
    font: bold 15px/45px 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
}
#nav ul li a:hover,
#nav ul li a:active {
    color: #2E86B2;
}
#nav ul li#current {
    background-color: rgba(99,75,45,0.8);
}
/*#nav ul li#current a {
    background-color: rgba(


}*/

#footer {
    clear: both;
    width: 952px;
    margin: 0;
    padding: 30px 0 25px 0;
    background-color: background-color: rgba(37,108,143,0.6); 
}

#sidebar {
	float: right;
	width: 280px;
	padding: 0; 
	margin: 0 45px 0 0;
	display: inline;	
}

#main {
    float: left;
    width: 535px;
    padding: 0; 
    margin: 0 0 0 40px;
    display: inline;
}

